.botao {
    background-color: #6278f7;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 2rem;
    border: none;
    color: #fff;
    margin: 2rem 0;
}

.botao:hover {
    color: #95FFD4;
}